@page "/applications"
@using ConstellationOfDelicacies.Bll.Clients
@using ConstellationOfDelicacies.Bll.Interfaces
@using ConstellationOfDelicacies.Web.Components.Templates.Manager
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager navManager
@rendermode InteractiveServer

<PageTitle>Свободные заказы</PageTitle>

<AuthorizeView Roles="Менеджер">
    <Authorized>
        <div class="top-row top-row-manager manager-top-bar">
            <a class="top-bar-link" href="/manager">Мои заявки</a>
            <a class="top-bar-link current-page" href="/applications">Все заявки</a>
            <a class="top-bar-link" href="/chiefs">Редактировать поваров</a>
            <a class="top-bar-link" href="/waiters">Редактировать официантов</a>
        </div>
        <div class="applications">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Содержание заказа</th>
                        <th>Дата заказа</th>
                        <th>Пожелания</th>
                        <th>Имя клиента</th>
                        <th>Адрес</th>
                        <th>Телефон</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in applicationsList)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Services</td>
                            <td>@item.OrderDate</td>
                            <td>@item.Wishes</td>
                            <td>@item.ClientName</td>
                            <td>@item.Address</td>
                            <td>@item.Phone</td>
                            <td>
                                <button class="btn btn-primary" type="button">Взять в работу</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </Authorized>
    <NotAuthorized>
        @{
            navManager.NavigateTo("./");
        }
    </NotAuthorized>
</AuthorizeView>



@code {

    private List<TableItem> applicationsList = new List<TableItem>
    {

         
        base.OnAfterRender(firstRender);
    }

}