@page "/chief"
@using ConstellationOfDelicacies.Bll.IManager
@using ConstellationOfDelicacies.Bll.Models.InputModels
@using ConstellationOfDelicacies.Bll.Clients
@using ConstellationOfDelicacies.Dal
@rendermode InteractiveServer

<h3>Добавить повара</h3>
<div class="registration-form">

    <EditForm class="row g-3" Model="@_chief" OnValidSubmit="@AddChief">
        <DataAnnotationsValidator />

        <div class="col-md-12">
            <label for="chief-firstname" class="form-label">Введите имя:</label>
            <InputText class="form-control" @bind-Value="@_chief.FirstName" id="chief-firstname" 
                       placeholder="Имя"/>
        </div>
        <div class="col-md-12">
            <label for="chief-lastname" class="form-label">Введите фамилию:</label>
            <InputText class="form-control" @bind-Value="@_chief.LastName" id="chief-lastname" 
                       placeholder="Фамилия" />
        </div>
        <div class="col-md-12">
            <label for="chief-middlename" class="form-label">Введите отчество:</label>
            <InputText class="form-control" @bind-Value="@_chief.MiddleName" id="chief-middlename"
                       placeholder="Отчество" />
            <p class="order-form-note">*Если отсутствует, оставьте поле пустым</p>
        </div>
        <div class="col-md-12">
            <label for="chief-mail" class="form-label">Введите электронную почту:</label>
            <InputText type="email" class="form-control" @bind-Value="@_chief.Mail" id="chief-mail"
                       placeholder="E-mail" />
        </div>
        <div class="col-md-12">
            <label for="chief-phone" class="form-label">Введите номер телефона:</label>
            <InputText type="tel" class="form-control" @bind-Value="@_chief.Phone" id="chief-phone"
                       placeholder="Номер телефона" pattern="8[0-9]{10}"/>
            <p class="order-form-note">*В формате: 81112223333</p>
        </div>
        <div class="col-md-12">
            <label for="chief-password" class="form-label">Введите новый пароль:</label>
            <InputText class="form-control" @bind-Value="@_chief.Password" id="chief-password"
                       placeholder="Пароль" />
            <p class="order-form-note">*Минимум 4 символа</p>
        </div>
        <div class="col-md-12">
            <label for="chief-profile" class="form-label">Должность</label>
            <select class="form-control" @onchange="AddProfile" id="chief-profile">
                <option value="Повар">Повар</option>
                <option value="Повар кондитер">Повар кондитер</option>
                <option value="Повар холодного цеха">Повар холодного цеха</option>
                <option value="Повар горячего цеха">Повар горячего цеха</option>
                <option value="Су-шеф">Су-шеф</option>
                <option value="Шеф повар">Шеф повар</option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a href="/chiefs" class="btn btn-primary waiters-edit-back-button waiters-add-back-link">Вернуться назад</a>
        </div>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    private UsersInputModel _chief { get; set; }

    private List<WorkerOutputModel> _chiefs;
    IManager manager;
    private string _subRole;

    public AddChiefTemplate()
    {
        manager = new ManagerMock();
        _chiefs = manager.GetAllChiefs();
        _chief = new UsersInputModel();
    }

    private void AddProfile(ChangeEventArgs a)
    {
        _subRole = a.Value.ToString();

    }

    // private enum SubRoleId
    // {
    //     WaiterNew = 1,
    //     WaiterThree,
    //     WaiterTwo,
    //     WaiterOne,
    //     WaiterHigt,
    //     Sommelier
    // }

    private void AddChief()
    {
        //TODO: тут роль "Сотрудник", а профиль "Повар-Кондитер"
        RoleClient roleClient = new RoleClient();
        var roles = roleClient.GetAllRoles();
        var role = roles.FirstOrDefault(r => r.Title == _subRole);
        RolesOutputModel tmpRole = new RolesOutputModel();
        tmpRole.Title = role.Title;

        _chief.Role = tmpRole; //это тоже к туду, тут профиль должен быть

        IUserClient userClient = new UserClient();
        userClient.AddUser(_chief);
    }
}