@using ConstellationOfDelicacies.Bll.Models.InputModels
@using ConstellationOfDelicacies.Bll.Clients
@using System
@rendermode InteractiveServer

<div >
    @if (isSubmited)
    {
        <div class="alert alert-success">
            Сотрудник "@Model.FirstName @Model.LastName" добавлен
        </div>
    }
    <EditForm Model="@Model" class="row g-3" OnValidSubmit="@AddWorker" FormName="AddWorker">
        <DataAnnotationsValidator />

        <div class="col-md-12">
            <label for="worker-firstname" class="form-label">Введите имя:</label>
            <InputText class="form-control" @bind-Value="@Model.FirstName" id="worker-firstname"
                       placeholder="Имя" />
        </div>
        <div class="col-md-12">
            <label for="worker-lastname" class="form-label">Введите фамилию:</label>
            <InputText class="form-control" @bind-Value="@Model.LastName" id="worker-lastname"
                       placeholder="Фамилия" />
        </div>
        <div class="col-md-12">
            <label for="worker-middlename" class="form-label">Введите отчество:</label>
            <InputText class="form-control" @bind-Value="@Model.MiddleName" id="worker-middlename"
                       placeholder="Отчество" />
            <p class="order-form-note">*Если отсутствует, оставьте поле пустым</p>
        </div>
        <div class="col-md-12">
            <label for="worker-mail" class="form-label">Введите электронную почту:</label>
            <InputText type="email" class="form-control" @bind-Value="@Model.Mail" id="worker-mail"
                       placeholder="E-mail" />
        </div>
        <div class="col-md-12">
            <label for="worker-phone" class="form-label">Введите номер телефона:</label>
            <InputText type="tel" class="form-control" @bind-Value="@Model.Phone" id="worker-phone"
                       placeholder="Номер телефона" pattern="8[0-9]{10}" />
            <p class="order-form-note">*В формате: 81112223333</p>
        </div>
        <div class="col-md-12">
            <label for="worker-password" class="form-label">Введите новый пароль:</label>
            <InputText class="form-control" @bind-Value="@Model.Password" id="worker-password"
                       placeholder="Пароль" />
            <p class="order-form-note">*Минимум 4 символа</p>
        </div>
        <div class="col-md-12">
            <label for="worker-profile" class="form-label">Должность</label>
            <InputSelect class="form-control" id="worker-profile" @bind-Value="@Model.ProfileId">
                @foreach (var p in _profiles)
                {
                    <option value="@p.Id">@p.Title</option>
                }
            </InputSelect>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a href="/waiters" class="btn btn-primary waiters-edit-back-button waiters-add-back-link">Вернуться назад</a>
        </div>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    private UsersInputModel Model { get; set; }

    [Parameter, EditorRequired]
    public int SpId { get; set; }
    [Parameter]
    public Action action { get; set; }

    private List<ProfilesOutputModel>? _profiles;
    private bool isSubmited;

    protected override void OnInitialized()
    {
        Model = new UsersInputModel();
        Model.Role = new RolesInputModel() { Title = "Worker" };
        Model.Profiles = new List<ProfilesInputModel>();

        ProfileClient profileClient = new ProfileClient();
        _profiles = profileClient.GetProfiles(SpId);

        Model.ProfileId = _profiles.First().Id;
    }

    public void AddWorker()
    {
        Model.Profiles!.Add(new ProfilesInputModel() { Id = Model.ProfileId });
        UserClient userClient = new UserClient();
        
        isSubmited = true;

        //userClient.AddUser(Model);
    }
}
