@page "/waiter"
@using ConstellationOfDelicacies.Bll.Models.InputModels

<h3>Добавить официанта</h3>

<div class="registration-form">
    <EditForm Model="@_waiter" class="row g-3">
        <DataAnnotationsValidator />

        <div class="col-md-12">
            <label for="waiter-firstname" class="form-label">Введите имя:</label>
            <InputText class="form-control" @bind-Value="@_waiter.FirstName" id="waiter-firstname"
                       placeholder="Имя" />
        </div>
        <div class="col-md-12">
            <label for="waiter-lastname" class="form-label">Введите фамилию:</label>
            <InputText class="form-control" @bind-Value="@_waiter.LastName" id="waiter-lastname"
                       placeholder="Фамилия" />
        </div>
        <div class="col-md-12">
            <label for="waiter-middlename" class="form-label">Введите отчество:</label>
            <InputText class="form-control" @bind-Value="@_waiter.MiddleName" id="waiter-middlename"
                       placeholder="Отчество" />
            <p class="order-form-note">*Если отсутствует, оставьте поле пустым</p>
        </div>
        <div class="col-md-12">
            <label for="chief-mail" class="form-label">Введите электронную почту:</label>
            <InputText type="email" class="form-control" @bind-Value="@_waiter.Mail" id="chief-mail"
                       placeholder="E-mail" />
        </div>
        <div class="col-md-12">
            <label for="chief-phone" class="form-label">Введите номер телефона:</label>
            <InputText type="tel" class="form-control" @bind-Value="@_waiter.Phone" id="chief-phone"
                       placeholder="Номер телефона" pattern="8[0-9]{10}" />
            <p class="order-form-note">*В формате: 81112223333</p>
        </div>
        <div class="col-md-12">
            <label for="chief-password" class="form-label">Введите новый пароль:</label>
            <InputText class="form-control" @bind-Value="@_waiter.Password" id="chief-password"
                       placeholder="Пароль" />
            <p class="order-form-note">*Минимум 4 символа</p>
        </div>
        <div class="col-md-12">
            <label for="waiter-profile" class="form-label">Должность</label>
            <select class="form-control" @onchange="AddProfile" id="waiter-profile">
                <option>Официант-новичок</option>
                <option>Официант 3й категории</option>
                <option>Официант 2й категории</option>
                <option>Официант 1й категории</option>
                <option>Старший официант</option>
                <option>Сомелье</option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a href="/waiters" class="btn btn-primary waiters-edit-back-button waiters-add-back-link">Вернуться назад</a>
        </div>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    private UsersInputModel _waiter { get; set; }

    private string _subRole;

    public AddWaiterTemplate()
    {
        _waiter = new UsersInputModel();
    }

    private void AddProfile(ChangeEventArgs a)
    {
        _subRole = a.Value.ToString();

    }

    private void AddWaiter()
    {
        Console.WriteLine("сделать добавление офциантов");
    }
}