@using ConstellationOfDelicacies.Bll.Models
@using ConstellationOfDelicacies.Bll.Clients
@rendermode InteractiveServer

<Card Style="width:300px; margin-right:10px; margin-bottom:10px">
    <CardBody>
        <CardTitle>Id: @Worker.Id </CardTitle>
            <CardText>
                <p>Имя: @Worker.FirstName</p>
            <p>Отчество: @Worker.MiddleName</p>
            <p>Фамилия: @Worker.LastName</p>
            <p>Телефон: @Worker.Phone</p>
            <p>Почта: @Worker.Mail</p>
        </CardText>
        <Button Color="ButtonColor.Primary" @onclick="() => RemoveWorker(Worker.Id)">Удалить</Button>
    </CardBody>
</Card>


@* <div class="chiefs-card">
    <p class="chief-id">Id: @Worker.Id</p>
    <p class="chief-name">Имя: @Worker.FirstName</p>
    <p class="chief-lastName">Отчество: @Worker.MiddleName</p>
    <p class="chief-middleName">Фамилия: @Worker.LastName</p>
    <p class="chief-phone">Телефон: @Worker.Phone</p>
    <p class="chief-mail">Почта: @Worker.Mail</p>
    <a href="./chiefs/@Worker.Id" class="chief-edit-link">Редактировать</a>
    <button @onclick="() => RemoveWorker(Worker.Id)" class="btn btn-primary" type="button">Удалить</button>
</div> *@

@code {

    [Parameter, EditorRequired]
    public UsersOutputModel Worker { get; set; }

    private UserClient _client;
    
    public WorkerCardTemplate()
    {
        _client = new UserClient();
    }
    
    private void RemoveWorker(int wId)
    {
        _client.RemoveUser(wId);
        StateHasChanged();
    }
}
