@using ConstellationOfDelicacies.Bll.Models
@using ConstellationOfDelicacies.Bll.Clients
@rendermode InteractiveServer

<Modal @ref="modal" />

<Card Style="width:300px; margin-right:10px; margin-bottom:10px">
    <CardBody>
        <CardTitle>Id: @Worker.Id </CardTitle>
            <CardText>
                <p>Имя: @Worker.FirstName</p>
            <p>Отчество: @Worker.MiddleName</p>
            <p>Фамилия: @Worker.LastName</p>
            <p>Телефон: @Worker.Phone</p>
            <p>Почта: @Worker.Mail</p>
        </CardText>
        <Button Color="ButtonColor.Primary" @onclick="EditWorker">Изменить</Button>
        <Button Color="ButtonColor.Primary" @onclick="() => RemoveWorker(Worker.Id)">Удалить</Button>
    </CardBody>
</Card>

@code {

    private Modal modal = default!;

    [Parameter, EditorRequired]
    public UsersOutputModel Worker { get; set; }

    [Parameter]
    public Action UpdatePage { get; set; }

    private UserClient _client;

    public WorkerCardTemplate()
    {
        _client = new UserClient();
    }

    private void RemoveWorker(int wId)
    {
        _client.RemoveUser(wId);
        UpdatePage();
    }

    private async Task EditWorker()
    {
        modal.IsVerticallyCentered = true;
        modal.IsScrollable = true;

        var parameters = new Dictionary<string, object>();
        parameters.Add("Worker", Worker);
        parameters.Add("UpdatePage", UpdatePage);

        await modal.ShowAsync<EditWorkerTemplate>(title: "Добавить задачу", parameters: parameters);
    }

}
